/** @format */

#sidenav_options {
  border-bottom: 1px solid rgb(204, 204, 204);
}
.sidenav_option {
  border: 1px solid transparent;
  height: 45px;
  display: flex;
  align-items: center;
  
}
.sidenav_option:hover{
  background: rgb(201, 198, 198);
}
.sidenavdiv1 {
  color: rgb(3, 3, 3);
  height: 40px;
  padding-top: 18px;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  white-space: nowrap;
}
#betweendiv {
  height: 1px;
  background: rgb(233, 231, 231);
  margin: 4px;
}
.sideicon {
  height: 20px;
  margin-left: 20px;
}
* {
  font-family: sans-serif;
  font-size: 14px;
}
#body_container {
  margin-top: 0px;
}

#container {
  display: flex;
  flex-direction: row;
  height: auto;
}
#side_nav {
  flex: 2;
  margin-right: 10px;
  border: 1px solid transparent;
  height: 100%;
}
#display {
  flex: 11;
  border: 1px solid transparent;
  height: 100%;
}
#videos_box {
  width: 100%;
  border: 1px solid transparent;
  background: rgb(249, 249, 249);
  height: 95%;
  height:580px;
  overflow-y:scroll;
}

#suggestion_topic {
  height: 56px;
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  align-items: center;
  display: flex;
  gap: 20px;
}
.suggestions {
  border: 1px solid rgb(204, 204, 204);
  height: 40px;
  padding: 10px;
  white-space: nowrap;

  background: rgb(233, 231, 231);
  border-radius: 20px;
  color: rgb(26, 25, 25);
}
.suggestions:hover{
  background: rgb(29, 29, 29);
  color: white;
}
body {
  margin: 0px;
}
